# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log

# IDE
.vscode/
.idea/

# Temporary files
*.tmp
*.temp

# Logs
logs
*.log

# Environment
.env.local
.env

# iOS
ios/

# Android
android/